



#quote-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-family: 'Nunito', sans-serif;
  overflow-wrap: break-word;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #ff0;
  color: #ff69b4;
  text-align: left;
  min-width: 500px;
  max-width: 500px;
  max-height: 200px;
  min-height: 200px;
  overflow-y: scroll;
  margin-bottom: .3rem;
  padding: 1rem 1rem .2rem 1rem;
  border-radius: 3px;
}

#author {
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: .2rem;
  color: #ff0;
}

#text .quoted {
  
 padding: 0 0 0 2rem;
}

.left-quote, .right-quote {
  font-size: 1.5rem;
}

.right-quote {
  padding: 1em;
  margin: -1.0em 0 0 12em;
}

#tweet-quote {
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
}

button {
  background-color: #ff0;
  color: #ff69b4;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 3px;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}